<!DOCTYPE html>
<html>

<head>
  <title>Error</title>
  <link rel="stylesheet" href="/log.css">
</head>

<body>
  <%- include('header') %>
    <h1>Error</h1>
    <p>
      <%= message %>
    </p>
    
</body>

</html>