<!DOCTYPE html>
<html>

<head>
  <title>Planet Log</title>
  <link rel="stylesheet" href="/log.css">
</head>

<body>
  <%- include('header') %>
    <h1>Planet Log</h1>
    <div class="planet-grid">
      <div>
        <h2>Coldest Planet</h2>
        <%- include('planetCard', {planet: coldestPlanet}) %>
      </div>

      <div>
        <h2>Hottest Planet</h2>
        <%- include('planetCard', {planet: hottestPlanet}) %>
      </div>

      <div>
        <h2>Biggest Planet</h2>
        <%- include('planetCard', {planet: biggestPlanet}) %>
      </div>
    </div>
</body>

</html>